
:root{
  --col-azul : #007bff!important;
}

/*falta rst*/
body{
	
}

table{
  text-align: center;
}


label{
  font-weight: bold;
}

#imgLogin{
  width: 30%;
  margin-left: 35%;
  margin-right: 35%;
}

#frmReporte{
  padding: 1%;
}

#form #form_header{
  text-align: center;
  background: #45a1c7;
  padding: 40px;
  color: #fff;
  text-transform: capitalize;
}

#form #form_body{
  padding: 40px;
}

#frmCreaNotificacion{
  padding: 2%;
}

#contenedor{
	background-color: #FFF;
	height: 100vh;
	width: 100vw;
	min-width: 320px;
	margin: auto;
}

#zonaHead{
  width: 100vw;
  height: 10vh;
  
}

#zonaTrabajo{
  padding: 1%;
  width: 100vw;
  height: 82vh;
  overflow: auto;
  margin: auto;
}

#zonaFooter{
  width: 100vw;
  height: 8vh;
  color: #fff;
  text-align: center;
  overflow: auto;
  background-color: var(--col-azul);
  border: 1px solid var(--col-azul);/*ELIMINAR AL FINAL, SOLO SE USA PARA GUIAS DE LINEA*/
}

#navbarNavDropdown{
  background-color: var(--col-azul);;
  border-radius: 5px;
  padding: 5px;
  z-index: 2;
}

#gruposMenu{ 
  height: 100%;
  /*border: 1px solid var(--col-azul); */
}

#gruposImportacion{ 
  /*height: 100%;*/
 /* border: 1px solid var(--col-azul); */
}

#gruposMenuNorte{
  height: 20%;
  /*border: 1px solid var(--col-azul); */
  
}

#MenuReportes{
  height: 100%;
  overflow: auto;
}



#gruposMenuCentro{
  height: 80%;
  /*border: 1px solid var(--col-azul); */
}

#gruposTrabajo{
  height: 100%;
  padding: 0;
  overflow: auto;
 /* border: 0.1px solid var(--col-azul);*/
}

#tituloTrabajo{
  text-align: center;
}

#contListadoNotificaciones{
  padding: 2%;
}

.navbar-dark .navbar-nav .nav-link{
  color: #fff;
}

/****  FORMULARIO LOGIN*/
.div-center {
  width: 320px;
  height: 400px;
  overflow-y: scroll;
  background-color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  padding: 1em 2em;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-left:  3px solid #ccc;
  border-right:  3px solid #ccc;
  display: table;
}

div.content {
  display: table-cell;
  vertical-align: middle;

}

div.content h3{
	text-align: center;
}


.loginError{
  background: #f2dede;
  width: 100%;
  color: #a94442;
  padding: 15px;
  border-radius: 4px;
  margin-bottom: 20px;
}

.loginSucces{
  background: #def2e0;
  width: 100%;
  color: #42a958;
  padding: 15px;
  border-radius: 4px;
  margin-bottom: 20px;
}

.paquetesUsuario{
  height: 30%;
  overflow: auto;
  border: 0.1px solid var(--col-azul);
  text-align: center;
}

.navbar-brand{
  padding: 0;
  margin: 0;
}

